.nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid rgb(65, 65, 65);
  padding: 0.6rem 0.8rem;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  border-radius: 0.3em;
}

.nav button:hover {
  background: rgb(65, 65, 65);
  color: white;
}

.forward-slash {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .nav button {
    z-index: 10;
  }
}
